menu{
  list-style: none;
  background-color: #FF1801;
  padding: 9px 30px;
  text-align: center;
  overflow: hidden;
  margin: -10px;
}

menu a {
  margin: 0px;
  color: white;
  text-decoration: none;
  font-family: F1;
  padding: 20px 30px;
  font-family: Verdana, Geneva,Tahoma, sansserif;
  font-size: 10px;
}

menu a:hover{
  background-color: rgb(29, 29, 29);
;
  color: white;
}
.topnav-right {
  float: left;
}

body{
  background-color: rgb(29, 29, 29);
}

#right{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  
}

#text-home{
  float: left;
  margin-left: 100px;
  margin-top: 120px;
  color: white;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.logo{
  width: 60px;
  height: auto;
}



/* banner style */

.carousel-container {
  padding-top: 1%;
  position: relative;
  margin: -10px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: auto;
}

.carousel-item {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}



/* stilizi i foterit */

footer{
  display: flex;
  justify-content: space-between;
  background-color: #FF1801;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  height: 160px;
  margin: -10px;
  padding: 30px;
  padding-left: 50px;
}

.left-footer{
  line-height: 25px;
  width: 49px;
}

.right-footer{
  text-align: right;
}



