.login-button>button {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  width: 100px;
  height: 50px;
  display: block !important;
  z-index: 99998;
  background-color: #ef8376;
  border: none;
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 30px;
}

.login-button>button:hover {
  background-color: red;
  z-index: 99998;
}


#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  z-index: 1;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.7) none;
}

#nav>ul {
  line-height: 0px;
  position: relative;
  display: inline-block;
  margin: 0;
  height: auto;
  border-left: solid 1px rgba(192, 192, 192, 0.35);
  border-right: solid 1px rgba(192, 192, 192, 0.35);
  color: white;
  font-family: "Roboto", sans-serif;
}

#nav>ul:before,
#nav>ul:after {
  content: "";
  display: block;
  width: 300%;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  height: 5px;
  border-top: solid 1px rgba(232, 48, 48, 0.35);
  border-bottom: solid 1px rgba(192, 192, 192, 0.35);
}

#nav>ul:before {
  left: 100%;
  margin-left: 1px;
}

#nav>ul:after {
  right: 100%;
  margin-right: 1px;
}

#nav>ul>li {
  display: inline-block;
  margin: -9px 0.5em 0 0.5em;
  border-radius: 0.5em;
  padding: 0.85em;
  border: solid 1px transparent;
  -moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

#nav>ul>li.active {
  border-color: rgba(192, 192, 192, 0.35);
}

#nav>ul>li>a,
#nav>ul>li>span {
  display: block;
  color: inherit;
  text-decoration: none;
  border: 0;
  outline: 0;
}

#nav>ul>li>ul {
  display: none;
}

#nav>ul>li>a:hover {
  color: rgb(230, 0, 43);
}

.dropotron {
  background: rgba(255, 255, 255, 0.975);
  padding: 1em 1.25em 1em 1.25em;
  line-height: 1em;
  height: auto;
  text-align: left;
  border-radius: 0.5em;
  box-shadow: 0 0.15em 0.25em 0 rgba(0, 0, 0, 0.25);
  min-width: 12em;
  margin-top: -1em;
  list-style: none;
}

.dropotron li {
  border-top: solid 1px rgba(128, 128, 128, 0.2);
  color: #5b5b5b;
  padding-left: 0;
}

.dropotron li:first-child {
  border-top: 0;
}

.dropotron li:hover {
  color: #ef8376;
}

.dropotron li a,
.dropotron li span {
  display: block;
  border: 0;
  padding: 0.5em 0 0.5em 0;
  -moz-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

.dropotron.level-0 {
  margin-top: 2em;
  font-size: 0.9em;
}

.dropotron.level-0:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -0.7em;
  margin-left: -0.75em;
  border-bottom: solid 0.75em rgba(255, 255, 255, 0.975);
  border-left: solid 0.75em rgba(64, 64, 64, 0);
  border-right: solid 0.75em rgba(64, 64, 64, 0);
}

@media only screen and (max-width: 767px) {
  #nav {
    padding: 1em 0;
  }

  #nav>ul {
    display: block;
    height: auto;
    border: none;
  }

  #nav>ul:before,
  #nav>ul:after {
    display: none;
  }

  #nav>ul>li {
    display: block;
    margin: 0.5em 0;
  }

  .dropotron.level-0 {
    margin-top: 0.5em;
  }
}

body {
  background-color: rgb(29, 29, 29);
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15pt;
  line-height: 1.85em;
  font-weight: 300;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#contact {
  padding-top: 10%;
  max-width: 400px;
  margin-left: 35%;
  margin-top: 79px;
  color: white;
  font-family: "Roboto", sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#submit {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#message {
  padding-bottom: 80px;
  width: 98.5%;
}



footer {
  background-color: #ff1801;
  width: 100%;
  height: 600px;
  padding-top: 20px;
  margin-top: 5%;
}

footer h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 42%;
  margin-top: 1%;
  font-size: 28px;
  text-decoration: underline;
  display: inline-block;
}

.aboutus {
  display: flex;
}

.aboutus img {
  margin-top: -4%;
}

.rolexlogo {
  width: 160px;
  height: 70px;
  margin-left: 1%;
  padding-top: 2%;
}

.dhllogo {
  width: 140px;
  height: 70px;
  margin-left: 15%;
  padding-bottom: 3%;
  padding-top: 2%;
}

.heinekenlogo {
  width: 260px;
  height: 100px;
  margin-left: 10.5%;
}

.pirellilogo {
  width: 180px;
  height: 90px;
  margin-left: 9%;
  padding-top: 1%;
}

footer h2 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 42%;
  margin-top: 1%;
  font-size: 28px;
  text-decoration: underline;
  display: inline-block;
}

.socialmedia {
  display: flex;
}

.socialmedia img {
  margin-right: 260px;
  margin-top: 1%;
  margin-left: 15%;
  width: 80px;
}

.tekst {
  display: inline-block;
  margin-left: 4%;
  margin-top: 2%;
}

footer h3 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  font-size: 28px;
  text-decoration: underline;
}

.tekst p {
  color: #ffffff;
  font-family: Formula1;
}

.navi {
  margin-left: 20%;
  display: inline-block;
  vertical-align: top;
}

.navi p {
  color: #ffffff;
  font-family: Formula1;
  font-size: 33px;
  text-decoration: underline;
}

.owners {
  display: inline-block;
  margin-left: 25%;
}

.owners h4 {
  color: #ffffff;
  font-family: Formula1;
  text-decoration: underline;
  font-size: 33px;
}

.owners p {
  color: #ffffff;
  font-family: Formula1;
  font-size: 20px;
}

html,
body {
  overflow-x: hidden;
}

/* stilizimi i login */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  background-color: rgb(29, 29, 29);

  color: white;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}