@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Formula1";
  src: url("../Assets/Formula1-Regular-1.ttf") format("truetype");
}

body {
  background-color: rgb(42, 41, 41);
  margin: 0;
  font-family: Arial, sans-serif;
}

/********* Generic Dynamic Tracks *****************/

.tracks-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.track-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.track-image {
  flex: 1;
  max-width: 550px;
}

.track-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.track-info {
  flex: 1;
  color: #fff;
  padding-left: 20px;
}

.track-info h1 {
  font-family: "Formula1", sans-serif;
  color: #e10600;
  /* F1 Red */
  font-size: 36px;
  margin-bottom: 20px;
}

.track-info h2 {
  font-family: "Formula1", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
}

.track-info h3 {
  font-family: "Formula1", sans-serif;
  font-size: 22px;
  color: #b0b0b0;
}

.track-info .place-name {
  color: #4caf50;
  /* Green for place */
}

@media (max-width: 992px) {
  .track-item {
    flex-direction: column;
    text-align: center;
  }

  .track-image {
    max-width: 100%;
  }

  .track-info {
    padding-left: 0;
  }
}